body { background: #F8EEB9; margin: 0px; padding: 0px; width: 100%; text-align: center; display: block; }
.flipsout { align-items: center; vertical-align: middle; text-align: center; width: 100%; margin: 0 auto 0; height: 100%; display: flex; position: absolute; }
.inner { margin: 0 auto; position: relative; width:100%; }
.bushold{ width:425px; margin:0 auto; position:relative;}
.shadow{ width:80%; height:20px; border-radius:100%; background:rgba(0,0,0,.2); margin:-10px auto 0; z-index:999;}
.tyreF{ width:60px; height:60px; border-radius:100%; background:#1e2327; position:relative; animation:tyre 1s linear infinite; -webkit-animation:tyre 1s linear infinite; margin-left:50px}
.tyreF span{width:40px; height:40px; border-radius:100%; background:#aaaaaa; display:block; position:absolute; top:10px; left:10px;}
.tyreF span i{width:15px; height:15px; border-radius:100%; background:#1e2327; display:block; position:absolute; top:13px; left:13px;}
.tyreF:after{ border:solid 1px #fff; content:""; position:absolute;}
.tyreB{ position:absolute; bottom:10px; left:250px;}
.buspart{ width:400px; margin:0 auto; background:#20B2AA; height:100px; position:absolute; left:5px; top:-70px; border-radius:20px 50px 5px 5px}
.buspart:after, .buspart:before{background: #F8EEB9 none repeat scroll 0 0; border-radius: 100%; content: ""; height: 59px; position: absolute; right: 42px; top: 64px;width: 66px;}
.buspart:before{left: 42px;}
.busgate{ height:40px; width:20px; background:#211e1d; position:absolute; right:13px; top:45px; border-radius:5px;z-index: 8;}
.window, .window:after, .window:before{ width:95px; height:50px; border-radius:5px; background:#211e1d; margin:10px 0 0 30px; position:relative;}
.lineStar{ height:20px; width:100%; background:#fff; position:absolute; top:75px; border-radius:5px;}
.starLogo .star{ font-size: 1em; height:20px; width:30%; position:absolute; left: 18%; top:75px; border-radius:5px;}
.starLogo .rennes{ font-size: 1em; height:20px; width:30%; position:absolute; right:28%; top:75px; border-radius:5px;}
.window:before, .window:after{ content:""; margin:0px; position:absolute; left:110px; top:0px; }
.window:after{ left:220px; border-radius:5px 50px 5px 5px;}
.road{ width:100%; background:rgba(0,0,0,.8); height:150px; position:absolute; top:-50%; border:solid 6px #fff; border-left:0px; border-right:0px; box-shadow:0px 7px 24px -1px rgba(0,0,0,.5) inset; }
.tree{margin:-230px auto; height:200px; animation:tree 3s linear infinite; -webkit-animation:tree 3s linear infinite; position:absolute;}
.tree span{ height:200px; width:10px; background:#fbbc05; display:inline-block; vertical-align:middle; margin: 0 90px;}
.tree span i, .tree span i:after, .tree span i:before{ height:50px; width:50px; background:#34a853; display:block; margin:-10px 0 0 -20px; border-radius:50%; position:relative;}
.tree span i:after, .tree span i:before{content:""; border-radius:40px 0; position:absolute; left:-12px; top:80px; transform:rotate(80deg); -webkit-transform:rotate(80deg);}
.tree span i:before{left:50px; top:90px; transform:rotate(-180deg); -webkit-transform:rotate(-180deg);}
.tree span.treetwo{ margin-top:50px; height:150px;}
@keyframes tyre{
0%{ transform:rotate(0deg);}
100%{ transform:rotate(360deg);}	
}
@keyframes tree{
0%{ right:0px;}
100%{ right:60%; opacity:0;}	
}
