<div class="jumbotron text-center">
	<h1>Ligne de bus</h1>
	<select ng-model="selected_bus" ng-change="selectBus()">
		<option ng-value="0" ng-selected="selected_bus==0">Selectionnez un bus</option>
		<option ng-repeat="bus in liste" ng-value="bus.nom">{{ bus.fields.nomcourt }}</option>
	</select>
	<select ng-model="selected_bus_stop" ng-change="selectBusStop()">
		<option ng-value="0" ng-selected="selected_bus_stop==0">Selectionnez un arrêt</option>
		<option ng-repeat="bus in liste_arret" ng-value="bus.nom">{{ bus.name }}</option>
	</select>
	<div id="mapid" style="width: 100%; height: 800px;"></div>
</div>