<div class="flipsout">
	<div class="inner">
		<div class="tree">
			<span>
				<i></i>
			</span>
			<span class="treetwo">
				<i></i>
			</span>
			<span>
				<i></i>
			</span>
		</div>
		<div class="road"></div>
		<div class="bushold">
			<div class="buspart">
				<div class="busgate"></div>
				<div class="window"></div>
				<div class="lineStar"></div>
				<div class="starLogo"><p class="star">STAR</p><p class="rennes">Rennes métropole</p></div>
			</div>
			<div class="tyreF">
				<span>
					<i></i>
				</span>
			</div>
			<div class="tyreF tyreB">
				<span>
					<i></i>
				</span>
			</div>
			<div class="shadow"></div>
		</div>
	</div>
</div>