<div class="jumbotron text-center">
	<h1>Horaires de bus</h1>
	<select ng-model="selected_bus" ng-change="selectBus()">
		<option ng-value="0" ng-selected="selected_bus==0">Selectionnez un bus</option>
		<option ng-repeat="bus in liste" ng-value="bus.nom">{{ bus.fields.nomcourt }}</option>
	</select>
	<iframe ng-src="{{scheduleURL}}" width="100%" height="500" frameborder="0"></iframe>
</div>